.site_name{
    font-weight: 400;
    margin-right: 1dvw;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 2dvw 0;
}
.header_btn{
    padding: 0 1dvw;
    margin: 0 1.5dvw  ;
    font-size: 18px;
}
.font_set{
    color: rgb(195,195,196);
}