.site_name{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
}
.site_logo{
    height: 3vh;
    width: 3vh;
    border-radius: 15%;
    margin:0 1vh 0 0;
}
.header_btn{
    padding: 0 1dvw;
    margin: 0 1.5dvw  ;
    font-size: 18px;
}
.font_set{
    color: #232323;
    font-family: Sinter-Bold,system-ui;

}
.more_information{
    height: 20dvh;
    background-color: rgb(33,33,33);
}