.post_chunk{
    height: 20dvh;
    margin-bottom: 5px;
    padding: 5px;;
    border-radius: 10px;
    background-color: #f8f5f2;
}
.chunk_title{
    font-family: Sinter-Regular,system-ui;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.chunk_type{
    border: 2px solid #232323;
    border-radius: 5px;
    width:fit-content;
    font-size: 0.8em;
    font-weight: bolder;
    padding: 1px 3px 1px 3px;
}
.chunk_shortcut{

}
.chunk_type:hover{
    background-color: #078080;
}
.chunk_details{
    margin: 0 15px 0 15px;
}
*{
    margin: 0;
}